/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
    font-family: 'Nicolas Chochin';
    src: url('../fonts/eenfont.woff2') format('woff2'),
        url('../fonts/eenfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nicolas Cochin';
    src: url('../fonts/NicolasCochinEF.woff') format('woff'),
        url('../fonts/NicolasCochinEF.woff2');
    font-weight: normal;
    font-style: normal;
}




/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}

button,
summary {
    cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-background: white;
    --text-shadow1: rgb(255, 255, 255) 1px 1px 0px, rgb(179, 179, 179) 2px 2px 0px, rgb(179, 179, 179) 3px 3px 0px, rgb(179, 179, 179) 4px 4px 0px, rgb(179, 179, 179) 5px 5px 0px, rgb(179, 179, 179) 6px 6px 0px, rgb(179, 179, 179) 7px 7px 0px, rgb(179, 179, 179) 8px 8px 0px, rgb(179, 179, 179) 9px 9px 0px, rgb(179, 179, 179) 10px 10px 0px, rgb(179, 179, 179) 11px 11px 0px, rgb(179, 179, 179) 12px 12px 0px, rgb(179, 179, 179) 13px 13px 0px, rgb(179, 179, 179) 14px 14px 0px, rgb(179, 179, 179) 15px 15px 0px, rgb(179, 179, 179) 16px 16px 0px, rgb(179, 179, 179) 17px 17px 0px, rgb(179, 179, 179) 18px 18px 0px, rgb(179, 179, 179) 19px 19px 0px, rgb(179, 179, 179) 20px 20px 0px, rgb(179, 179, 179) 21px 21px 0px, rgb(179, 179, 179) 22px 22px 0px, rgb(179, 179, 179) 23px 23px 0px, rgb(179, 179, 179) 24px 24px 0px, rgb(179, 179, 179) 25px 25px 0px, rgb(179, 179, 179) 26px 26px 0px, rgb(179, 179, 179) 27px 27px 0px, rgb(179, 179, 179) 28px 28px 0px, rgb(179, 179, 179) 29px 29px 0px, rgb(179, 179, 179) 30px 30px 0px, rgb(179, 179, 179) 31px 31px 0px, rgb(179, 179, 179) 32px 32px 0px, rgb(179, 179, 179) 33px 33px 0px, rgb(179, 179, 179) 34px 34px 0px, rgb(179, 179, 179) 35px 35px 0px, rgb(179, 179, 179) 36px 36px 0px, rgb(179, 179, 179) 37px 37px 0px, rgb(179, 179, 179) 38px 38px 0px, rgb(179, 179, 179) 39px 39px 0px, rgb(179, 179, 179) 40px 40px 0px, rgb(179, 179, 179) 41px 41px 0px, rgb(179, 179, 179) 42px 42px 0px, rgb(179, 179, 179) 43px 43px 0px, rgb(179, 179, 179) 44px 44px 0px, rgb(179, 179, 179) 45px 45px 0px, rgb(179, 179, 179) 46px 46px 0px, rgb(179, 179, 179) 47px 47px 0px, rgb(179, 179, 179) 48px 48px 0px, rgb(179, 179, 179) 49px 49px 0px, rgb(179, 179, 179) 50px 50px 0px, rgb(179, 179, 179) 51px 51px 0px, rgb(179, 179, 179) 52px 52px 0px, rgb(179, 179, 179) 53px 53px 0px, rgb(179, 179, 179) 54px 54px 0px, rgb(179, 179, 179) 55px 55px 0px, rgb(179, 179, 179) 56px 56px 0px, rgb(179, 179, 179) 57px 57px 0px, rgb(179, 179, 179) 58px 58px 0px, rgb(179, 179, 179) 59px 59px 0px, rgb(179, 179, 179) 60px 60px 0px, rgb(179, 179, 179) 61px 61px 0px, rgb(179, 179, 179) 62px 62px 0px, rgb(179, 179, 179) 63px 63px 0px, rgb(179, 179, 179) 64px 64px 0px, rgb(179, 179, 179) 65px 65px 0px, rgb(179, 179, 179) 66px 66px 0px, rgb(179, 179, 179) 67px 67px 0px, rgb(179, 179, 179) 68px 68px 0px, rgb(179, 179, 179) 69px 69px 0px, rgb(179, 179, 179) 70px 70px 0px, rgb(179, 179, 179) 71px 71px 0px, rgb(179, 179, 179) 72px 72px 0px, rgb(179, 179, 179) 73px 73px 0px, rgb(179, 179, 179) 74px 74px 0px, rgb(179, 179, 179) 75px 75px 0px, rgb(179, 179, 179) 76px 76px 0px, rgb(179, 179, 179) 77px 77px 0px, rgb(179, 179, 179) 78px 78px 0px, rgb(179, 179, 179) 79px 79px 0px, rgb(179, 179, 179) 80px 80px 0px, rgb(179, 179, 179) 81px 81px 0px, rgb(179, 179, 179) 82px 82px 0px, rgb(179, 179, 179) 83px 83px 0px, rgb(179, 179, 179) 84px 84px 0px, rgb(179, 179, 179) 85px 85px 0px, rgb(179, 179, 179) 86px 86px 0px, rgb(179, 179, 179) 87px 87px 0px, rgb(179, 179, 179) 88px 88px 0px, rgb(179, 179, 179) 89px 89px 0px, rgb(179, 179, 179) 90px 90px 0px, rgb(179, 179, 179) 91px 91px 0px, rgb(179, 179, 179) 92px 92px 0px, rgb(179, 179, 179) 93px 93px 0px, rgb(179, 179, 179) 94px 94px 0px, rgb(179, 179, 179) 95px 95px 0px, rgb(179, 179, 179) 96px 96px 0px, rgb(179, 179, 179) 97px 97px 0px, rgb(179, 179, 179) 98px 98px 0px, rgb(179, 179, 179) 99px 99px 0px, rgb(179, 179, 179) 100px 100px 0px, rgb(179, 179, 179) 101px 101px 0px, rgb(179, 179, 179) 102px 102px 0px, rgb(179, 179, 179) 103px 103px 0px, rgb(179, 179, 179) 104px 104px 0px, rgb(179, 179, 179) 105px 105px 0px, rgb(179, 179, 179) 106px 106px 0px, rgb(179, 179, 179) 107px 107px 0px, rgb(179, 179, 179) 108px 108px 0px, rgb(179, 179, 179) 109px 109px 0px, rgb(179, 179, 179) 110px 110px 0px;

    /*ik heb beide textshadows(van dark en light mode) in een custom variable gezet zodat de code bij de animatie wat overzichtelijker is */

    --text-shadow2: rgb(255, 255, 255) 1px 1px 0px, rgb(179, 179, 179) 2px 2px 0px, rgb(179, 179, 179) 3px 3px 0px, rgb(179, 179, 179) 4px 4px 0px, rgb(179, 179, 179) 5px 5px 0px, rgb(179, 179, 179) 6px 6px 0px, rgb(179, 179, 179) 7px 7px 0px, rgb(179, 179, 179) 8px 8px 0px, rgb(179, 179, 179) 9px 9px 0px, rgb(179, 179, 179) 10px 10px 0px, rgb(179, 179, 179) 11px 11px 0px, rgb(179, 179, 179) 12px 12px 0px, rgb(179, 179, 179) 13px 13px 0px, rgb(179, 179, 179) 14px 14px 0px, rgb(179, 179, 179) 15px 15px 0px, rgb(179, 179, 179) 16px 16px 0px, rgb(179, 179, 179) 17px 17px 0px, rgb(179, 179, 179) 18px 18px 0px, rgb(179, 179, 179) 19px 19px 0px, rgb(179, 179, 179) 20px 20px 0px, rgb(179, 179, 179) 21px 21px 0px, rgb(179, 179, 179) 22px 22px 0px, rgb(179, 179, 179) 23px 23px 0px, rgb(179, 179, 179) 24px 24px 0px, rgb(179, 179, 179) 25px 25px 0px, rgb(179, 179, 179) 26px 26px 0px, rgb(179, 179, 179) 27px 27px 0px, rgb(179, 179, 179) 28px 28px 0px, rgb(179, 179, 179) 29px 29px 0px, rgb(179, 179, 179) 30px 30px 0px, rgb(179, 179, 179) 31px 31px 0px, rgb(179, 179, 179) 32px 32px 0px, rgb(179, 179, 179) 33px 33px 0px, rgb(179, 179, 179) 34px 34px 0px, rgb(179, 179, 179) 35px 35px 0px, rgb(179, 179, 179) 36px 36px 0px, rgb(179, 179, 179) 37px 37px 0px, rgb(179, 179, 179) 38px 38px 0px, rgb(179, 179, 179) 39px 39px 0px, rgb(179, 179, 179) 40px 40px 0px, rgb(179, 179, 179) 41px 41px 0px, rgb(179, 179, 179) 42px 42px 0px, rgb(179, 179, 179) 43px 43px 0px, rgb(179, 179, 179) 44px 44px 0px, rgb(179, 179, 179) 45px 45px 0px, rgb(179, 179, 179) 46px 46px 0px, rgb(179, 179, 179) 47px 47px 0px, rgb(179, 179, 179) 48px 48px 0px, rgb(179, 179, 179) 49px 49px 0px, rgb(179, 179, 179) 50px 50px 0px, rgb(179, 179, 179) 51px 51px 0px, rgb(179, 179, 179) 52px 52px 0px, rgb(179, 179, 179) 53px 53px 0px, rgb(179, 179, 179) 54px 54px 0px, rgb(179, 179, 179) 55px 55px 0px, rgb(179, 179, 179) 56px 56px 0px, rgb(179, 179, 179) 57px 57px 0px, rgb(179, 179, 179) 58px 58px 0px, rgb(179, 179, 179) 59px 59px 0px, rgb(179, 179, 179) 60px 60px 0px, rgb(179, 179, 179) 61px 61px 0px, rgb(179, 179, 179) 62px 62px 0px, rgb(179, 179, 179) 63px 63px 0px, rgb(179, 179, 179) 64px 64px 0px, rgb(179, 179, 179) 65px 65px 0px, rgb(179, 179, 179) 66px 66px 0px, rgb(179, 179, 179) 67px 67px 0px, rgb(179, 179, 179) 68px 68px 0px, rgb(179, 179, 179) 69px 69px 0px, rgb(179, 179, 179) 70px 70px 0px, rgb(179, 179, 179) 71px 71px 0px;
    --black-gradient: linear-gradient(110deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 54%, rgba(255, 255, 255, 1) 57%, rgba(0, 0, 0, 1) 60%);
    --white-gradient: linear-gradient(110deg, rgba(237, 237, 237, 1) 0%, rgba(237, 237, 237, 1) 54%, rgba(255, 255, 255, 1) 57%, rgba(237, 237, 237, 1) 60%);
}





/****************/
/* JOUW STYLING */
/****************/
body {
    font-family: Nicolas Cochin, serif;
    font-size: 8em;
    background-color: var(--color-background);
}

/* jouw code */
h1 {
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0px;
    display: flex;
    justify-content: center;
    animation-name: dioranimate;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    background-image: var(--black-gradient);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

span {
    transition: none;
}


@keyframes dioranimate {
    0% {
        text-shadow: rgb(255, 255, 255) 1px 1px 0px;
        background-position: 120% center;
    }

    40% {
        text-shadow: var(--text-shadow1);
        transform: translate(-110px, -110px);
    }

    /* Dit zijn de animaties, het begint met 1 witte text-shadow zodat het Dior logo zichtbaar is voor de rest van de shadow. Door de tekst mee te transformen met de     shadow, lijk het alsof de tekst verplaatst en de shadow op dezelfde plek blijft. De text-shadow schiet daarna terug en het Dior logo eindigt met een kleine terugvering weer terug op zijn originele plek */
    45% {
        text-shadow: none;
    }

    48% {
        transform: translate(20px, 20px);
    }

    60% {
        transform: translate(-10px, -10px);
    }

    72% {
        transform: translate(5px, 5px);
    }

    73% {
        background-position: 86% center;
    }

    79% {
        transform: translate(0px, 0px);
    }

    100 % {
        background-position: 80% center;
    }
}

@keyframes dioranimate2 {
    0% {
        text-shadow: rgb(255, 255, 255) 1px 1px 0px;
        background-position: 120% center;
    }

    40% {
        text-shadow: var(--text-shadow2);
        transform: translate(-71px, -71px);
    }

    42% {
        text-shadow: none;
    }

    45% {
        text-shadow: none;
    }

    48% {
        transform: translate(20px, 20px);
    }

    60% {
        transform: translate(-10px, -10px);
    }

    72% {
        transform: translate(5px, 5px);
    }

    73% {
        background-position: 150% center;
    }

    79% {
        transform: translate(0px, 0px);
    }

    100 % {
        background-position: 200% center;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 4em;
    }

    /* Simpele code om het Dior logo en de animatie responsive te maken, door de animation-name te veranderen naar een animatie met een                                                                                         kleinere text-shadow zal de tekst niet van het beeld af gaan.*/
    h1 {
        animation-name: dioranimate2;
    }
}

@media (prefers-color-scheme: dark) {
    h1 {
        background-image: var(--white-gradient);

    }

    :root {
        --color-background: black;
        /* Belangrijkste deel van de darkmode, heel simpel eigenlijk. */
        --text-shadow2: rgb(255, 255, 255) 1px 1px 0px, rgb(179, 179, 179) 2px 2px 0px, rgb(179, 179, 179) 3px 3px 0px, rgb(179, 179, 179) 4px 4px 0px, rgb(179, 179, 179) 5px 5px 0px, rgb(179, 179, 179) 6px 6px 0px, rgb(179, 179, 179) 7px 7px 0px, rgb(179, 179, 179) 8px 8px 0px, rgb(179, 179, 179) 9px 9px 0px, rgb(179, 179, 179) 10px 10px 0px, rgb(179, 179, 179) 11px 11px 0px, rgb(179, 179, 179) 12px 12px 0px, rgb(179, 179, 179) 13px 13px 0px, rgb(179, 179, 179) 14px 14px 0px, rgb(179, 179, 179) 15px 15px 0px, rgb(179, 179, 179) 16px 16px 0px, rgb(179, 179, 179) 17px 17px 0px, rgb(179, 179, 179) 18px 18px 0px, rgb(179, 179, 179) 19px 19px 0px, rgb(179, 179, 179) 20px 20px 0px, rgb(179, 179, 179) 21px 21px 0px, rgb(179, 179, 179) 22px 22px 0px, rgb(179, 179, 179) 23px 23px 0px, rgb(179, 179, 179) 24px 24px 0px, rgb(179, 179, 179) 25px 25px 0px, rgb(179, 179, 179) 26px 26px 0px, rgb(179, 179, 179) 27px 27px 0px, rgb(179, 179, 179) 28px 28px 0px, rgb(179, 179, 179) 29px 29px 0px, rgb(179, 179, 179) 30px 30px 0px, rgb(179, 179, 179) 31px 31px 0px, rgb(179, 179, 179) 32px 32px 0px, rgb(179, 179, 179) 33px 33px 0px, rgb(179, 179, 179) 34px 34px 0px, rgb(179, 179, 179) 35px 35px 0px, rgb(179, 179, 179) 36px 36px 0px, rgb(179, 179, 179) 37px 37px 0px, rgb(179, 179, 179) 38px 38px 0px, rgb(179, 179, 179) 39px 39px 0px, rgb(179, 179, 179) 40px 40px 0px, rgb(179, 179, 179) 41px 41px 0px, rgb(179, 179, 179) 42px 42px 0px, rgb(179, 179, 179) 43px 43px 0px, rgb(179, 179, 179) 44px 44px 0px, rgb(179, 179, 179) 45px 45px 0px, rgb(179, 179, 179) 46px 46px 0px, rgb(179, 179, 179) 47px 47px 0px, rgb(179, 179, 179) 48px 48px 0px, rgb(179, 179, 179) 49px 49px 0px, rgb(179, 179, 179) 50px 50px 0px, rgb(179, 179, 179) 51px 51px 0px, rgb(179, 179, 179) 52px 52px 0px, rgb(179, 179, 179) 53px 53px 0px, rgb(179, 179, 179) 54px 54px 0px, rgb(179, 179, 179) 55px 55px 0px, rgb(179, 179, 179) 56px 56px 0px, rgb(179, 179, 179) 57px 57px 0px, rgb(179, 179, 179) 58px 58px 0px, rgb(179, 179, 179) 59px 59px 0px, rgb(179, 179, 179) 60px 60px 0px, rgb(179, 179, 179) 61px 61px 0px, rgb(179, 179, 179) 62px 62px 0px, rgb(179, 179, 179) 63px 63px 0px, rgb(179, 179, 179) 64px 64px 0px, rgb(179, 179, 179) 65px 65px 0px, rgb(179, 179, 179) 66px 66px 0px, rgb(179, 179, 179) 67px 67px 0px, rgb(179, 179, 179) 68px 68px 0px, rgb(179, 179, 179) 69px 69px 0px, rgb(179, 179, 179) 70px 70px 0px, rgb(179, 179, 179) 71px 71px 0px;
    }

    @keyframes dioranimate2 {
        0% {
            text-shadow: rgb(237, 237, 237) 1px 1px 0px;
            background-position: 120% center;
        }

        40% {
            text-shadow: var(--text-shadow2);
            transform: translate(-71px, -71px);
        }

        42% {
            text-shadow: none;
        }

        45% {
            text-shadow: none;
        }

        48% {
            transform: translate(20px, 20px);
        }

        60% {
            transform: translate(-10px, -10px);
        }

        /* Als je een animatie wilt veranderen met een media query, moet je de hele animatie opnieuw uit typen. */

        72% {
            transform: translate(5px, 5px);
        }

        73% {
            background-position: 150% center;
        }

        79% {
            transform: translate(0px, 0px);
        }

        100 % {
            background-position: 200% center;
        }
    }

}


span:hover {
    text-shadow: rgb(255, 255, 255) 1px 1px 0px, rgb(179, 179, 179) 2px 2px 0px, rgb(179, 179, 179) 3px 3px 0px, rgb(179, 179, 179) 4px 4px 0px, rgb(179, 179, 179) 5px 5px 0px, rgb(179, 179, 179) 6px 6px 0px, rgb(179, 179, 179) 7px 7px 0px, rgb(179, 179, 179) 8px 8px 0px, rgb(179, 179, 179) 9px 9px 0px, rgb(179, 179, 179) 10px 10px 0px, rgb(179, 179, 179) 11px 11px 0px, rgb(179, 179, 179) 12px 12px 0px, rgb(179, 179, 179) 13px 13px 0px, rgb(179, 179, 179) 14px 14px 0px, rgb(179, 179, 179) 15px 15px 0px, rgb(179, 179, 179) 16px 16px 0px, rgb(179, 179, 179) 17px 17px 0px, rgb(179, 179, 179) 18px 18px 0px, rgb(179, 179, 179) 19px 19px 0px, rgb(179, 179, 179) 20px 20px 0px, rgb(179, 179, 179) 21px 21px 0px, rgb(179, 179, 179) 22px 22px 0px, rgb(179, 179, 179) 23px 23px 0px, rgb(179, 179, 179) 24px 24px 0px, rgb(179, 179, 179) 25px 25px 0px, rgb(179, 179, 179) 26px 26px 0px, rgb(179, 179, 179) 27px 27px 0px, rgb(179, 179, 179) 28px 28px 0px, rgb(179, 179, 179) 29px 29px 0px, rgb(179, 179, 179) 30px 30px 0px, rgb(179, 179, 179) 31px 31px 0px, rgb(179, 179, 179) 32px 32px 0px, rgb(179, 179, 179) 33px 33px 0px, rgb(179, 179, 179) 34px 34px 0px, rgb(179, 179, 179) 35px 35px 0px, rgb(179, 179, 179) 36px 36px 0px, rgb(179, 179, 179) 37px 37px 0px, rgb(179, 179, 179) 38px 38px 0px, rgb(179, 179, 179) 39px 39px 0px, rgb(179, 179, 179) 40px 40px 0px, rgb(179, 179, 179) 41px 41px 0px, rgb(179, 179, 179) 42px 42px 0px, rgb(179, 179, 179) 43px 43px 0px, rgb(179, 179, 179) 44px 44px 0px, rgb(179, 179, 179) 45px 45px 0px, rgb(179, 179, 179) 46px 46px 0px;
    padding-right: 60px;
    /* Door padding aan de bottom en right toe te voegen beweegt de padding van de letter niet van de muis af en zal het voorkomen dat de letter gaat buggen. */
    padding-bottom: 60px;
    transform: translate(0px, -20px);
}
