/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
    font-family: 'eenfont';
    src: url('../fonts/eenfont.woff2') format('woff2'),
        url('../fonts/eenfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Romantiques";
    src: url("../fonts/Romantiques.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}





/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}

button,
summary {
    cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-main: black;
    --color-background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    ;
}





/****************/
/* JOUW STYLING */
/****************/
body {
    position: relative;
    font-family: Romantiques, sans-serif;
    color: var(--color-main);
    text-align: center;
    overflow: hidden;
    padding: 0em;
    box-sizing: border-box;
    background: var(--color-background);
    background-size: 100% 100%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

html,
body {
    overflow-x: hidden;
}


h1 {
    font-size: 1.5em;
    color: white;
}

.dragging {
    cursor: grabbing;
}

.button {
    box-shadow: 3px 5px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 1.2em;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: eenfont;
    font-size: 0.7em;
    padding: 0.8em 2.6em;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}


#roller {
    background: linear-gradient(180deg, rgba(221, 221, 221, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(221, 221, 221, 1) 100%);
    width: 5em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    overflow: hidden;
    margin-top: 1em;
}

#rollhelp,
#bingohelp,
.list li,
#nobingo {
    color: var(--color-main)
}

#roller li {
    font-size: 3em;
    overflow: hidden;
}

#rollbutton {
    display: none;
}

#rollhelp {
    display: none;
}

#bingobutton {
    display: none;
}

#bingohelp {
    display: none;
}

#nobingo {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 97%;
    background-color: rgb(173, 140, 97);
    box-shadow: 0.5em 0.5em 0px 0px rgb(94, 78, 56);
    padding-top: 1em;
    padding-left: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-right: 0em;
    margin-top: 1em;
}

.container div {
    background: radial-gradient(circle, rgba(110, 88, 0, 1) 12%, rgba(31, 24, 0, 1) 100%);
    box-shadow: 0em -0.1em 0px 0px rgb(94, 78, 56);
    color: #fff;
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: .5em;
    font-family: eenfont;
    color: red;
    font-size: 1em;
}

.box {
    background-color: rgb(224, 213, 0);
    box-shadow: 0.2em 0.2em 0px 0px rgb(133, 133, 0);
    color: #fff;
    border-radius: 0.4em;
    height: 2.3em;
    width: 2.3em;
    font-family: eenfont;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.2em;
}


.checked {
    background-color: red;
    box-shadow: 0.2em 0.2em 0px 0px darkred;
}




.kaart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;
    width: 13.5em;
    background-color: rgb(54, 0, 171);
    box-shadow: 0.5em 0.5em 0px 0px rgb(34, 0, 107);
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1em;
}


.box2 {
    background-color: rgb(54, 0, 171);
    color: #fff;
    height: 2.7em;
    width: 2.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.box2 p {
    font-size: 2em;
    color: white
}


p {
    font-size: 1em;
    color: black;
    font-family: eenfont;
}

.kaart label {
    font-size: 1em;
    color: black;
    font-family: eenfont;
}


#title {
    font-family: Romantique;
}

.stamp {
    width: 3em;
    height: auto;
    opacity: 1;
}

.list {
    transform: translate(15em, -14em);
}

.list li {
    font-family: eenfont;
    width: 8em;
}

.stamp:hover {
    cursor: grab;
}

#welbingo {
    display: none;
}

.hold {
    opacity: 1;
    width: 3em;
}

.invisible {
    opacity: 0;
}

.radio {
    position: absolute;
    transform: translateX(-9999em);
}

li {
    list-style-type: none;
}

.rollnumbers {
    overflow: hidden;
    padding-left: 0em;
    transform: translateY(32.4em);
}

.rollnumbers li {
    padding-top: 1em;
    color: red;
    font-family: eenfont;
}

.rollanimation {
    animation-name: roll;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    overflow: hidden;
    padding-left: 0em;
    transform: translateY(-32.3em)
}

.rollanimation li {
    padding-top: 1em;
    color: red;
    font-family: eenfont;
}

@keyframes roll {
    0% {
        transform: translateY(32.4em)
    }

    100% {
        transform: translateY(-32.3em)
    }
}


@media (min-width: 900px) {
    .kaart {
        width: 25em;
        transform: translate(67em, -33em);
    }

    html,
    body {
        overflow-y: hidden;
    }

    .button {
        border: 1px solid #d02718;
        font-size: 1.1em;
        padding: 0.8em 2.6em;
        text-decoration: none;
        text-shadow: 0px 1px 0px #810e05;
    }

    .button:hover {
        background: darkred;
        border: 1px solid darkred;
        box-shadow: 3px 5px 0px 0px black;
    }

    .box {
        width: 4em;
        height: 4em;
        margin: 0.3em;
    }

    .checked:hover {
        background-color: darkgray;
        box-shadow: 0.2em 0.2em 0px 0px gray;
        cursor: pointer;
    }

    .box2 {
        width: 5em;
        height: 5em;
        padding-bottom: 1em;
    }

    .box2 p {
        font-size: 4em;
    }

    .container div {
        height: 2.2em;
        width: 2.2em;
    }

    .container {
        max-width: 60em;
        transform: translateY(3em, -3em) padding-top: 2em;
        padding-bottom: 1em;
        padding-left: 2.5em;
        margin-right: 0em;
        margin-top: 1em;
    }

    .stamp {
        width: 5em;
    }

    .list {
        transform: translate(78em, -74em)
    }

    .list li {
        width: 10em;
    }

    #roller {
        width: 13em;
        height: 13em;
        transform: translateX(-13em)
    }

    #roller li {
        font-size: 7em;
    }

    .invisible {
        display: none;
    }

    .rollnumbers {
        overflow: hidden;
        padding-left: 0em;
        transform: translateY(77.7em);
    }

    .rollnumbers li {
        padding-top: 3em;
        color: red;
        font-family: eenfont;
    }

    .rollanimation {
        animation-name: roll;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        overflow: hidden;
        padding-left: 0em;
        transform: translateY(-75.3em)
    }

    .rollanimation li {
        padding-top: 1em;
        font-family: eenfont;
    }

    @keyframes roll {
        0% {
            transform: translateY(77.7em)
        }

        100% {
            transform: translateY(-75.3em)
        }
    }
}

@media (prefers-color-scheme: dark) {

    :root {
        --color-main: white;
        --color-background: linear-gradient(45deg, rgba(128, 0, 116, 1) 0%, rgba(119, 0, 0, 1) 32%, rgba(0, 2, 88, 1) 67%, rgba(157, 123, 0, 1) 100%);
    }


    h1 {
        color: darkred;
    }
}

.sortable-chosen {

    opacity: 1;
}

.sortable-drag {
    opacity: 1;
}

.sortable-ghost {
    opacity: 0;
}

.sortable-fallback {
    opacity: 1 !important;
    touch-action: none;
}

.hovered {
    background-color: red;
    box-shadow: 0.2em 0.2em 0px 0px darkred;
}

.nomorehovered {}


/* jouw code */
